## EJERCICIOS EN CLASE 2, 2020-06-20
**_Grupo 2-2_**

In [6]:
import pandas as pd
import networkx as nx
#import numpy as np

In [2]:
#[['0', '2'], ['1', '3'], ['2', '3'], ['2', '4'], ['3', '5'], ['4', '5']]
Graph = {'nodes': ['0', '1', '2', '3', '4', '5'],
         'edges': [('0', '2'), ('1', '3'), ('2', '3'), ('2', '4'), ('3', '5'), ('4', '5')]}

In [5]:
g = nx.DiGraph()
g.add_nodes_from(Graph['nodes'])
g.add_edges_from(Graph['edges'])

In [7]:
nx.to_pandas_adjacency(g)

     0    1    2    3    4    5
0  0.0  0.0  1.0  0.0  0.0  0.0
1  0.0  0.0  0.0  1.0  0.0  0.0
2  0.0  0.0  0.0  1.0  1.0  0.0
3  0.0  0.0  0.0  0.0  0.0  1.0
4  0.0  0.0  0.0  0.0  0.0  1.0
5  0.0  0.0  0.0  0.0  0.0  0.0

In [8]:
nx.to_pandas_edgelist(g)

  source target
0      0      2
1      1      3
2      2      3
3      2      4
4      3      5
5      4      5

In [9]:
nx.to_dict_of_lists(g)

{'0': ['2'], '1': ['3'], '2': ['3', '4'], '3': ['5'], '4': ['5'], '5': []}